body{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 600px;
    border: solid black 2px;
    @media (max-width: 450px) {
        height: 400px;
    }
    @media (max-width: 350px) {
        height: 350px;
    }

    img{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .header__info{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: solid silver 2px;
        width: 450px;
        height: 450px;
        border-radius: 50%;
        @media (max-width: 450px) {
            width: 350px;
            height: 350px;
        }
        @media (max-width: 350px) {
            width: 300px;
            height: 300px;
        }
        .header__slogan{
            color: white;
            text-align:center;
            font-weight: 100;
            line-height: 1.5;
            font-size: 35px;
            margin-bottom: 10px;
            @media (max-width: 450px) {
                font-size: 15px;
            }
        }
        .header__text{
            margin-left: 35px;
            margin-right: 35px;
            color: white;
            text-align:center;
            font-weight: 100;
            line-height: 1.5;
            @media (max-width: 450px) {
                font-size: 10px;
            }

        }
        .btn{
            margin-top: 10px;
            width: 170px;
            height: 35px;
            border-radius: 50px;
            background-color: #0026ff;        
            display: inline-block;
            border: none;
            cursor: pointer;
            text-decoration: none;
            text-align: center;
            color: white;
            background-color: rgb(234,30,99);
        }
        .btn:hover{
            box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
            transition: all 0.3s ease-out;
        }
    }
}


.profile{
    display: flex;
    justify-content: center;
    width:auto;
    height: 55px;
    box-shadow: 0 0 10px 0 #c2c0c0;
    border: solid black 2px;

    .profile__item{
        display: flex;
        justify-content: space-between;
        width: 870px;
        height: auto;
        padding-right: 10px;
        @media (max-width: 868px) {
            width: 100%;
        }
        .profile__logo{
            display: flex;
            align-items: center;
            height: 100%;
            margin-left: 15px;
            img{
                height: 30px;
            }
            .profile-a{
                text-decoration: none;
                margin-left: 10px;
                color: rgb(125,121,121);
                font-weight: 400;
            }
        }
        .profile__anchors{
            display: flex;
            align-items: center;
            height: 100%;
            @media (max-width: 500px) {
                display: none;
            }
            a{
                position: relative;
                margin-left: 20px;
                text-decoration: none;
                color: rgb(125,121,121);
                font-weight: lighter;
            }
            a:after {
                display: block;
                position: absolute;
                content: "";
                background-color: #16d6dd;
                height: 2px;
                width: 0%;
                left: 50%;
                transition: width .3s ease-in-out;
                transform: translateX(-50%);
            }
            a:hover:after,
            a:focus:after {
                width: 100%;
            }
        }
    }
}

.about{
    display: flex;
    justify-content: center;
    width:auto;
    height: 455px;
    border: solid black 2px;

    .about__item{
        width: 870px;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        @media (max-width: 868px) {
            width: 100%;
        }
        .about__logo{
            text-align: center;
            margin-top: 55px;
            font-size: 25px;
            font-weight: 200;
            color: blue;
            @media (max-width: 868px) {
                margin-top: 0;
            }
            @media (max-width: 350px) {
                margin-top: 20px;
            }
        }
        .about__info{
            text-align: center;
            font-size: 13px;
            padding: 0 10px 0 10px;
        }
        .about__block{
            display: flex;
            justify-content: center;
            margin-top: 20px;
            width: 100%;
            height: 268px;
            @media (max-width: 865px) {
                width: 80%;

            }
            .about__carts{
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                margin-left: 5px;
                margin-right: 5px;
                width: 180px;
                height: 100%;
                img{
                    margin-left: auto;
                    margin-right: auto;
                    border: solid blue 2px;
                    border-radius: 50%;
                    min-height: 100px;
                    width: 100px;
                }
                .about__name{
                    font-weight: 200;
                    font-size: 25px;
                }
                .about__info{
                    margin-top: -12px;
                    line-height: 1.1;
                    font-weight: 200;
                }
            }
        }
    }
}
.solutions{
    display: flex;
    justify-content: center;
    width:auto;
    height: 750px;
    border: solid black 2px;
    @media (max-width: 500px) {
        height: 670px;
    }
    @media (max-width: 868px) {
        width: 100%;
    }
    @media (max-width: 580px) {
        height: 650px;
    }
    @media (max-width: 536px) {
        height: 680px;
    }
    
    img{
        width: 100%;
        height: 100%;
        position: relative;

    }
    .solutions__item{
        position: absolute;
        height: 100%;
        width: 870px;
        height: auto;
        padding-left: 50px;
        padding-right: 50px;
        @media (max-width: 868px) {
            width: 100%;
        }
        p{
            margin-top: 12px;
            text-align: center;
            font-weight: 200;
            font-size: 30px;
        }
        .solutions__info-block{
            margin-top: 50px;
            display: flex;
            justify-content: space-between ;
            text-align: center;   
            @media (max-width: 641px) {
                margin-top: 10px;
            }
            @media (max-width: 868px) {
                justify-content: center;
            }
            .solutions__block{
                width: 200px;
                img{
                    margin-left: auto;
                    margin-right: auto;
                    height: 80px;
                    width: 80px;
                    @media (max-width: 430px) {
                        height: 50px;
                        width: 50px;
                    }
                }
                .solutions__block-name{
                    margin-top: 20px;
                    font-weight: 300;
                    font-size: 20px;
                    @media (max-width: 580px) {
                        margin-top: 10px;
                        font-weight: 200;
                        font-size: 15px;
                    }
                    @media (max-width: 430px) {
                        font-size: 10px;
                    }
                }
                .solutions__block-info{
                    margin-top: -12px;
                    font-weight: 200;
                    font-size: 10px;
                }
            }
        }
        .solutions__pfoto{
            .solutions__pfoto-name{
                margin-top: 40px;
                text-align: center;
                @media (max-width: 641px) {
                    margin-top: 10px;
                }
            }
            .solutions__pfoto-slider{
                display: flex;
                justify-content: center;
                .solutions__container{
                    height: 300px;
                    width: 450px;
                    @media (max-width: 500px) {
                        height: 200px;
                        width: 350px;
                    }
                    @media (max-width: 400px) {
                        height: 100px;
                        width: 250px;
                    }
                    img{
                        height: 100%;
                        width: 100%;
                        border-radius: 40px;
                    }
                }
            }
        }
    }
}

.advantages{
    display: flex;
    justify-content: center;
    position: relative;
    width: auto;
    height: 340px;
    border: solid black 2px;
    @media (max-width: 648px) {
        height: 370px;
    }
    @media (max-width: 868px) {
        width: 100%;
    }
    @media (max-width: 420px) {
        height: 420px;
    }
    @media (max-width: 395px) {
        height: 440px;
    }
    @media (max-width: 370px) {
        height: 460px;
    }
    img{
        width: 100%;
        position: relative;
    }
    .advantages__container{
        position: absolute;
        width: 870px;
        height: 340px;
        @media (max-width: 868px) {
            width: 100%;
        }
        .advantages__name{
            text-align: center;
            margin-top: 15px;
            font-weight: 200;
            font-size: 30px;
        }
        .advantages__info{
            display: flex;
            justify-content: space-between;
            .advantages__photo{
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                width: 40%;
                height: 262px;
                img{
                    margin-right: 20px;
                    width: auto;
                    height: 90%;
                    @media (max-width: 641px) {
                        height: 80%;
                    }
                    @media (max-width: 577px) {
                        height: 70%;
                    }
                    @media (max-width: 500px) {
                        height: 60%;
                    }
                    @media (max-width: 440px) {
                        height: 50%;
                    }
                    @media (max-width: 390px) {
                        height: 40%;
                    }
                }
            }
            .advantages__text{
                width: 60%;
                height: 262px;
                @media (max-width: 420px) {
                    width: 70%;
                }
                p{
                    margin-top: 20px;
                    margin-left: 20px;
                    font-weight: 300;
                    font-size: 17px;
                    @media (max-width: 575px) {
                        margin-top: 0;
                    }
                    @media (max-width: 480px) {
                        font-size: 1px;
                    }
                }
                ul{
                    margin-left: 20px;
                    li{
                        line-height: 2.6;
                        font-weight: 300;
                        font-size: 11px;
                        a{
                            text-decoration: none;
                            color: black;
                        }
                        a:hover{
                            color: rgb(234,30,99);
                            cursor: pointer;
                        }
                    }
                    li:hover{
                        color: rgb(234,30,99);
                    }
                }
            }
        }
    }
}

.trynow{
    position: relative;
    display: flex;
    justify-content: center;
    height: 300px;
    border: solid black 2px;

    @media (max-width: 868px) {
        width: 100%;
    }
    .trynow__container{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 870px;
        height: 300px;
        text-align: center;
        align-items: center;
        @media (max-width: 868px) {
            width: 100%;
        }

        .trynow__name{
            margin-top: 45px;
            font-weight: 200;
            font-size: 30px;
            color: blue;
            @media (max-width: 641px) {
                margin-top: 20px;
            }
        }
        .trynow__text{
            margin-top: -10px;
            font-weight: 200;
            font-size: 12px;
            @media (max-width: 430px) {
                padding: 0 50px 0 50px;
            }
        }
        .trynow__form{
            width: 870px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (max-width: 868px) {
                width: 100%;
            }
            .trynow__shell-input{
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 420px;
                border-radius: 20px;
                padding-left: 15px;
                padding-right: 5px;
                height: 35px;
                border: solid rgba(192, 192, 192, 0.473) 1px;
                @media (max-width: 430px) {
                    width: 315px;
                    font-size: 10px;
                }
                input{
                    outline: none;
                    border: none;
                    width: 70%;
                    font-weight: 200;
                }
                button{
                    width: 115px;
                    height: 25px;
                    text-align: center;
                    display: inline-block;
                    text-decoration: none;
                    background-color: hsl(230,46%,47%);
                    color: white;
                    border-radius: 20px;
                }
            }
            .trynow__list{
                margin-top: 15px;
                width: 420px;
                border-radius: 20px;
                padding-left: 15px;
                padding-right:15px;
                height: 35px;
                font-weight: 100;
                border: solid rgba(192, 192, 192, 0.473) 1px;
                appearance: none;
                outline: none;
                background-color: #fff; 
                background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
                background-repeat: no-repeat, repeat;
                background-position: right .7em top 50%, 0 0;
                background-size: .65em auto, 100%; 
                @media (max-width: 430px) {
                    width: 315px;
                    font-size: 10px;
                }
            }
        }
        .trynow__container-button{
            align-items: center;
            margin-top: 20px;
            width: 170px;
            height: 35px;
            border-radius: 50px;
            background-color: #0026ff;        
            display: inline-block;
            border: none;
            cursor: pointer;
            text-decoration: none;
            text-align: center;
            color: white;
            background-color: rgb(234,30,99);
        }
        .trynow__container-button:hover{
            box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
            transition: all 0.3s ease-out;
        }
    }
}
.whomhelp{
    height: 380px;
    width: 100%;
    position: relative;
    display: flex;
    border: solid black 2px;
    justify-content: center;
    @media (max-width: 868px) {
        width: 100%;
        height: 550px;
    }
    @media (max-width: 500px) {
        height: 480px;
    }
    @media (max-width: 430px) {
        height: 400px;
    }
    @media (max-width: 365px) {
        height: 380px;
    }
    .whomhelp__container{
        position: absolute;
        width: 870px;
        height: 380px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        @media (max-width: 868px) {
            width: 100%;
        }
        .whomhelp__name{
            text-align: center;
            margin-top: 25px;
            font-weight: 200;
            font-size: 26px;
            color: blue;
            @media (max-width: 641px) {
                margin-top: 40px;
            }
            @media (max-width: 430px) {
                margin-top: 20px;
            }
            @media (max-width: 365px) {
                margin-top: 10px;
            }
        }
        .whomhelp__photo{
            width: 100%;
            height: 300px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 55px;
            padding-left: 10px;
            padding-right: 10px;
            @media (max-width: 500px) {
                justify-content: space-evenly;
            }
            @media (max-width: 490px) {
                width: 100%;
            }
            @media (max-width: 641px) {
                margin-top: 10px;
            }
            @media (max-width: 865px) {
                width: 100%;
                padding-left: 40px;
                padding-right: 40px;
            }
            img{
                width: 190px;
                height: 190px;
                border-radius: 30px; 
                margin-bottom: 30px;
                @media (max-width: 500px) {
                    width: 150px;
                    height: 150px;
                }
                @media (max-width: 430px) {
                    width: 120px;
                    height: 120px;
                    margin-bottom: 20px;
                }
                @media (max-width: 365px) {
                    width: 100px;
                    height: 100px;
                    margin-bottom: -10px;
                }
            }
            .whomhelp__photo-img{
                background-color: rgb(234,30,99);
                width: 190px;
                height: 190px;
                border-radius: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @media (max-width: 500px) {
                    width: 150px;
                    height: 150px;
                }
                @media (max-width: 430px) {
                    width: 120px;
                    height: 120px;
                }
                @media (max-width: 365px) {
                    width: 100px;
                    height: 100px;
                }
                img{
                    width: 90px;
                    height: 90px; 
                    @media (max-width: 430px) {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}
.getintouch{
    position: relative;
    display: flex;
    justify-content: center;
    height: 165px;
    border: solid black 2px;
    @media (max-width: 868px) {
        width: 100%;
    }
    img{
        width: 100%;
    }
    @media (max-width: 515px) {
        height: 250px;
    }
    .getintouch__container{
        position: absolute;
        width: 870px;
        height: 165px;
        @media (max-width: 868px) {
            width: 100%;
        }
        .getintouch__name{
            text-align: center;
            color: blue;
            margin-top: 23px;
            font-weight: 200;
            font-size: 30px;
        }
        .getintouch__form{
            display: flex;
            justify-content: space-between;
            padding-left: 65px;
            padding-right: 65px;
            margin-top: 26px;
            @media (max-width: 515px) {
                margin-top: 0;
                flex-direction: column;
                align-items: center;
            }
            input{
                width: 275px;
                height: 30px;
                border-radius: 20px;
                padding-left: 15px;
                outline: none;
                @media (max-width: 515px) {
                    margin-bottom: 10px;
                }
            }
            button{
                width: 170px;
                height: 30px;
                border-radius: 20px;
                background-color: rgb(234,30,99);
            }
            button:hover{
                box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
                transition: all 0.3s ease-out;
            }
        }
    }
}

.cases{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 525px;
    border: solid black 2px;
    @media (max-width: 868px) {
        width: 100%;
    }
    @media (max-width: 500px) {
        height: 420px;
    }
    @media (max-width: 450px) {
        height: 380px;
    }
    .cases__container{
        position: absolute;
        width: 870px;
        height: 525px;
        @media (max-width: 868px) {
            width: 100%;
        }
        .cases__name{
            text-align: center;
            margin-top: 45px;
            font-weight: 200;
            font-size: 26px;
            color: blue;
            @media (max-width: 500px) {
                margin-top: 10px;
            }
        }
        .cases__items{
            display: flex;
            justify-content: space-between;
            padding: 0 50px 0 50px;
            margin-top: 35px;
            font-weight: 300;
            font-size: 18px;
            justify-content: space-evenly;
            @media (max-width: 500px) {
                margin-top: 10px;
            }
            .cases__items-block{
                display: flex;
                justify-content: center;
                width: 100px;
                height: 27px;
                border-bottom: solid blue 1px;
            }
            .cases__items-block:hover{
                border-bottom: solid rgb(234,30,99) 1px;
                transition: all 0.3s ease-out;
            }
        }
        .cases__photo{
            display: flex;
            justify-content: center;
            margin-top: 26px;
            img{
                width: 560px;
                height: 290px;
                @media (max-width: 575px) {
                    height: 70%;
                    width: 70%;
                }
            }
        }
    }
}

.contact{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 365px;
    border: solid black 2px;
    @media (max-width: 750px) {
        width: 100%;
        height: 450px;
    }
    @media (max-width: 366px) {
        height: 470px;
    }
    img{
        width: 100%;
        height: 100%; 
    }
    .contact__container{
        position: absolute;
        width: 750px;
        height: 365px;
        @media (max-width: 868px) {
            width: 100%;
        }
        .contact__name{
            color: white;
            text-align: center;
            margin-top: 25px;
            font-weight: 200;
            font-size: 30px;
        }
        .contact__text{
            margin-top: -10px;
            font-weight: 200;
            font-size: 13px;
            color: white;
            padding: 0 200px 0 200px;
            text-align: center;
            @media (max-width: 709px) {
                padding: 0 100px 0 100px;
            }
            @media (max-width: 500px) {
                padding: 0 50px 0 50px;
            }
        }
        .contact__inputs{
            display: flex;
            justify-content: space-between;
            height: 200px;
            margin-top: 25px;
            padding: 0 20px 0 20px;
            @media (max-width: 750px) {
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
            .contact__param{
                @media (max-width: 750px) {
                    margin-top: 25px;
                    align-items: center;
                }
                display: flex;
                flex-direction: column;
                input{
                    width: 415px;
                    height: 30px;
                    margin-top: 8px;
                    border-radius: 20px;
                    padding-left: 15px;
                    font-weight: 200;
                    outline: none;
                    @media (max-width: 430px) {
                        width: 315px;
                    }
                }
                button{
                    margin-top: 15px;
                    width: 170px;
                    height: 30px;
                    border-radius: 20px;
                    color: white;
                    background-color: rgb(234,30,99);
                    text-align: center;
                    @media (max-width: 430px) {
                        width: 140px;
                    }
                }
                button:hover{
                    box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
                    transition: all 0.3s ease-out;
                }
            }
        }
        .contact__info{
            textarea{
                @media (max-width: 750px) {
                    order: -1;
                }
                width: 265px;
                height: 105px;
                margin-top: 8px;
                border-radius: 20px;
                padding: 15px 15px 15px 15px;
                font-weight: 200;
                outline: none;
                resize: none; 
            }
        }
    }
}
.footer{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: rgb(64,82,177);
    border: solid black 2px;
    @media (max-width: 868px) {
        width: 100%;
    }
    .footer__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 870px;
        height: 60px;
        padding: 0 12px 0 12px;
        @media (max-width: 868px) {
            width: 100%;
        }
        .footer__logo{
            img{
                width: 40px;
                height: 40px;
                @media (max-width: 480px) {
                    width: 30px;
                    height: 30px;
                }
            }
            a{
                color: white;
                margin-left: 10px;
                text-decoration: none;
                font-size: 18px;
                font-weight: 200;
                @media (max-width: 480px) {
                    font-size: 12px;
                }
            }
        }
        .footer__info{
            i{
                color: white;
                padding-left: 20px;
                @media (max-width: 480px) {
                    font-size: 8px;
                    padding-left: 10px;
                }
                @media (max-width: 375px) {
                    font-size: 6px;
                    padding-left: 8px;
                }
            }
            a{
                font-size: 12px;
                font-weight: 200;
                padding-left: 5px;
                color: white;
                text-decoration: none;
                @media (max-width: 480px) {
                    font-size: 8px;
                }
                @media (max-width: 375px) {
                    font-size: 6px;
                }
            }
        }
    }
}

/* фото до и после */
.twentytwenty-overlay{
    border-radius: 40px;
}
/*Обнуление*/
*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
}
/* Слайдер */
.slick-slider{
	min-width: 0;
}
.slick-list {
	overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.slick-track{
	display: flex;
	align-items: flex-start;
}
.slider {
	position: relative;
}
.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -85px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}
.slider .slick-arrow.slick-prev{
	left: 0;
	background: url('../img/left.png') 0 0 / 100% no-repeat;
    @media (max-width: 1080px) {
        display: none;
        background: none;
    }
}
.slider .slick-arrow.slick-next{
	right: 0;
	background: url('../img/rigth.png') 0 0 / 100% no-repeat;
    @media (max-width: 1080px) {
        display: none;
        background: none;
    }
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}
.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}
.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
}
.slider__item {
	padding: 0px 15px;
}
.slider__item img{
	max-width: 100%;
}
