@charset "UTF-8";
body {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 600px;
  border: solid black 2px;
}

@media (max-width: 450px) {
  header {
    height: 400px;
  }
}

@media (max-width: 350px) {
  header {
    height: 350px;
  }
}

header img {
  width: 100%;
  height: 100%;
  position: relative;
}

header .header__info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid silver 2px;
  width: 450px;
  height: 450px;
  border-radius: 50%;
}

@media (max-width: 450px) {
  header .header__info {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 350px) {
  header .header__info {
    width: 300px;
    height: 300px;
  }
}

header .header__info .header__slogan {
  color: white;
  text-align: center;
  font-weight: 100;
  line-height: 1.5;
  font-size: 35px;
  margin-bottom: 10px;
}

@media (max-width: 450px) {
  header .header__info .header__slogan {
    font-size: 15px;
  }
}

header .header__info .header__text {
  margin-left: 35px;
  margin-right: 35px;
  color: white;
  text-align: center;
  font-weight: 100;
  line-height: 1.5;
}

@media (max-width: 450px) {
  header .header__info .header__text {
    font-size: 10px;
  }
}

header .header__info .btn {
  margin-top: 10px;
  width: 170px;
  height: 35px;
  border-radius: 50px;
  background-color: #0026ff;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #ea1e63;
}

header .header__info .btn:hover {
  -webkit-box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
          box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: 55px;
  -webkit-box-shadow: 0 0 10px 0 #c2c0c0;
          box-shadow: 0 0 10px 0 #c2c0c0;
  border: solid black 2px;
}

.profile .profile__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 870px;
  height: auto;
  padding-right: 10px;
}

@media (max-width: 868px) {
  .profile .profile__item {
    width: 100%;
  }
}

.profile .profile__item .profile__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-left: 15px;
}

.profile .profile__item .profile__logo img {
  height: 30px;
}

.profile .profile__item .profile__logo .profile-a {
  text-decoration: none;
  margin-left: 10px;
  color: #7d7979;
  font-weight: 400;
}

.profile .profile__item .profile__anchors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media (max-width: 500px) {
  .profile .profile__item .profile__anchors {
    display: none;
  }
}

.profile .profile__item .profile__anchors a {
  position: relative;
  margin-left: 20px;
  text-decoration: none;
  color: #7d7979;
  font-weight: lighter;
}

.profile .profile__item .profile__anchors a:after {
  display: block;
  position: absolute;
  content: "";
  background-color: #16d6dd;
  height: 2px;
  width: 0%;
  left: 50%;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.profile .profile__item .profile__anchors a:hover:after,
.profile .profile__item .profile__anchors a:focus:after {
  width: 100%;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: 455px;
  border: solid black 2px;
}

.about .about__item {
  width: 870px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 868px) {
  .about .about__item {
    width: 100%;
  }
}

.about .about__item .about__logo {
  text-align: center;
  margin-top: 55px;
  font-size: 25px;
  font-weight: 200;
  color: blue;
}

@media (max-width: 868px) {
  .about .about__item .about__logo {
    margin-top: 0;
  }
}

@media (max-width: 350px) {
  .about .about__item .about__logo {
    margin-top: 20px;
  }
}

.about .about__item .about__info {
  text-align: center;
  font-size: 13px;
  padding: 0 10px 0 10px;
}

.about .about__item .about__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  width: 100%;
  height: 268px;
}

@media (max-width: 865px) {
  .about .about__item .about__block {
    width: 80%;
  }
}

.about .about__item .about__block .about__carts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  width: 180px;
  height: 100%;
}

.about .about__item .about__block .about__carts img {
  margin-left: auto;
  margin-right: auto;
  border: solid blue 2px;
  border-radius: 50%;
  min-height: 100px;
  width: 100px;
}

.about .about__item .about__block .about__carts .about__name {
  font-weight: 200;
  font-size: 25px;
}

.about .about__item .about__block .about__carts .about__info {
  margin-top: -12px;
  line-height: 1.1;
  font-weight: 200;
}

.solutions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: 750px;
  border: solid black 2px;
}

@media (max-width: 500px) {
  .solutions {
    height: 670px;
  }
}

@media (max-width: 868px) {
  .solutions {
    width: 100%;
  }
}

@media (max-width: 580px) {
  .solutions {
    height: 650px;
  }
}

@media (max-width: 536px) {
  .solutions {
    height: 680px;
  }
}

.solutions img {
  width: 100%;
  height: 100%;
  position: relative;
}

.solutions .solutions__item {
  position: absolute;
  height: 100%;
  width: 870px;
  height: auto;
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 868px) {
  .solutions .solutions__item {
    width: 100%;
  }
}

.solutions .solutions__item p {
  margin-top: 12px;
  text-align: center;
  font-weight: 200;
  font-size: 30px;
}

.solutions .solutions__item .solutions__info-block {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

@media (max-width: 641px) {
  .solutions .solutions__item .solutions__info-block {
    margin-top: 10px;
  }
}

@media (max-width: 868px) {
  .solutions .solutions__item .solutions__info-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.solutions .solutions__item .solutions__info-block .solutions__block {
  width: 200px;
}

.solutions .solutions__item .solutions__info-block .solutions__block img {
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  width: 80px;
}

@media (max-width: 430px) {
  .solutions .solutions__item .solutions__info-block .solutions__block img {
    height: 50px;
    width: 50px;
  }
}

.solutions .solutions__item .solutions__info-block .solutions__block .solutions__block-name {
  margin-top: 20px;
  font-weight: 300;
  font-size: 20px;
}

@media (max-width: 580px) {
  .solutions .solutions__item .solutions__info-block .solutions__block .solutions__block-name {
    margin-top: 10px;
    font-weight: 200;
    font-size: 15px;
  }
}

@media (max-width: 430px) {
  .solutions .solutions__item .solutions__info-block .solutions__block .solutions__block-name {
    font-size: 10px;
  }
}

.solutions .solutions__item .solutions__info-block .solutions__block .solutions__block-info {
  margin-top: -12px;
  font-weight: 200;
  font-size: 10px;
}

.solutions .solutions__item .solutions__pfoto .solutions__pfoto-name {
  margin-top: 40px;
  text-align: center;
}

@media (max-width: 641px) {
  .solutions .solutions__item .solutions__pfoto .solutions__pfoto-name {
    margin-top: 10px;
  }
}

.solutions .solutions__item .solutions__pfoto .solutions__pfoto-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.solutions .solutions__item .solutions__pfoto .solutions__pfoto-slider .solutions__container {
  height: 300px;
  width: 450px;
}

@media (max-width: 500px) {
  .solutions .solutions__item .solutions__pfoto .solutions__pfoto-slider .solutions__container {
    height: 200px;
    width: 350px;
  }
}

@media (max-width: 400px) {
  .solutions .solutions__item .solutions__pfoto .solutions__pfoto-slider .solutions__container {
    height: 100px;
    width: 250px;
  }
}

.solutions .solutions__item .solutions__pfoto .solutions__pfoto-slider .solutions__container img {
  height: 100%;
  width: 100%;
  border-radius: 40px;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: auto;
  height: 340px;
  border: solid black 2px;
}

@media (max-width: 648px) {
  .advantages {
    height: 370px;
  }
}

@media (max-width: 868px) {
  .advantages {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .advantages {
    height: 420px;
  }
}

@media (max-width: 395px) {
  .advantages {
    height: 440px;
  }
}

@media (max-width: 370px) {
  .advantages {
    height: 460px;
  }
}

.advantages img {
  width: 100%;
  position: relative;
}

.advantages .advantages__container {
  position: absolute;
  width: 870px;
  height: 340px;
}

@media (max-width: 868px) {
  .advantages .advantages__container {
    width: 100%;
  }
}

.advantages .advantages__container .advantages__name {
  text-align: center;
  margin-top: 15px;
  font-weight: 200;
  font-size: 30px;
}

.advantages .advantages__container .advantages__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages .advantages__container .advantages__info .advantages__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  height: 262px;
}

.advantages .advantages__container .advantages__info .advantages__photo img {
  margin-right: 20px;
  width: auto;
  height: 90%;
}

@media (max-width: 641px) {
  .advantages .advantages__container .advantages__info .advantages__photo img {
    height: 80%;
  }
}

@media (max-width: 577px) {
  .advantages .advantages__container .advantages__info .advantages__photo img {
    height: 70%;
  }
}

@media (max-width: 500px) {
  .advantages .advantages__container .advantages__info .advantages__photo img {
    height: 60%;
  }
}

@media (max-width: 440px) {
  .advantages .advantages__container .advantages__info .advantages__photo img {
    height: 50%;
  }
}

@media (max-width: 390px) {
  .advantages .advantages__container .advantages__info .advantages__photo img {
    height: 40%;
  }
}

.advantages .advantages__container .advantages__info .advantages__text {
  width: 60%;
  height: 262px;
}

@media (max-width: 420px) {
  .advantages .advantages__container .advantages__info .advantages__text {
    width: 70%;
  }
}

.advantages .advantages__container .advantages__info .advantages__text p {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 300;
  font-size: 17px;
}

@media (max-width: 575px) {
  .advantages .advantages__container .advantages__info .advantages__text p {
    margin-top: 0;
  }
}

@media (max-width: 480px) {
  .advantages .advantages__container .advantages__info .advantages__text p {
    font-size: 1px;
  }
}

.advantages .advantages__container .advantages__info .advantages__text ul {
  margin-left: 20px;
}

.advantages .advantages__container .advantages__info .advantages__text ul li {
  line-height: 2.6;
  font-weight: 300;
  font-size: 11px;
}

.advantages .advantages__container .advantages__info .advantages__text ul li a {
  text-decoration: none;
  color: black;
}

.advantages .advantages__container .advantages__info .advantages__text ul li a:hover {
  color: #ea1e63;
  cursor: pointer;
}

.advantages .advantages__container .advantages__info .advantages__text ul li:hover {
  color: #ea1e63;
}

.trynow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  border: solid black 2px;
}

@media (max-width: 868px) {
  .trynow {
    width: 100%;
  }
}

.trynow .trynow__container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 870px;
  height: 300px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 868px) {
  .trynow .trynow__container {
    width: 100%;
  }
}

.trynow .trynow__container .trynow__name {
  margin-top: 45px;
  font-weight: 200;
  font-size: 30px;
  color: blue;
}

@media (max-width: 641px) {
  .trynow .trynow__container .trynow__name {
    margin-top: 20px;
  }
}

.trynow .trynow__container .trynow__text {
  margin-top: -10px;
  font-weight: 200;
  font-size: 12px;
}

@media (max-width: 430px) {
  .trynow .trynow__container .trynow__text {
    padding: 0 50px 0 50px;
  }
}

.trynow .trynow__container .trynow__form {
  width: 870px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 868px) {
  .trynow .trynow__container .trynow__form {
    width: 100%;
  }
}

.trynow .trynow__container .trynow__form .trynow__shell-input {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 420px;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 5px;
  height: 35px;
  border: solid rgba(192, 192, 192, 0.473) 1px;
}

@media (max-width: 430px) {
  .trynow .trynow__container .trynow__form .trynow__shell-input {
    width: 315px;
    font-size: 10px;
  }
}

.trynow .trynow__container .trynow__form .trynow__shell-input input {
  outline: none;
  border: none;
  width: 70%;
  font-weight: 200;
}

.trynow .trynow__container .trynow__form .trynow__shell-input button {
  width: 115px;
  height: 25px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background-color: #4153af;
  color: white;
  border-radius: 20px;
}

.trynow .trynow__container .trynow__form .trynow__list {
  margin-top: 15px;
  width: 420px;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  height: 35px;
  font-weight: 100;
  border: solid rgba(192, 192, 192, 0.473) 1px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

@media (max-width: 430px) {
  .trynow .trynow__container .trynow__form .trynow__list {
    width: 315px;
    font-size: 10px;
  }
}

.trynow .trynow__container .trynow__container-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  width: 170px;
  height: 35px;
  border-radius: 50px;
  background-color: #0026ff;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #ea1e63;
}

.trynow .trynow__container .trynow__container-button:hover {
  -webkit-box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
          box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.whomhelp {
  height: 380px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid black 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 868px) {
  .whomhelp {
    width: 100%;
    height: 550px;
  }
}

@media (max-width: 500px) {
  .whomhelp {
    height: 480px;
  }
}

@media (max-width: 430px) {
  .whomhelp {
    height: 400px;
  }
}

@media (max-width: 365px) {
  .whomhelp {
    height: 380px;
  }
}

.whomhelp .whomhelp__container {
  position: absolute;
  width: 870px;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 868px) {
  .whomhelp .whomhelp__container {
    width: 100%;
  }
}

.whomhelp .whomhelp__container .whomhelp__name {
  text-align: center;
  margin-top: 25px;
  font-weight: 200;
  font-size: 26px;
  color: blue;
}

@media (max-width: 641px) {
  .whomhelp .whomhelp__container .whomhelp__name {
    margin-top: 40px;
  }
}

@media (max-width: 430px) {
  .whomhelp .whomhelp__container .whomhelp__name {
    margin-top: 20px;
  }
}

@media (max-width: 365px) {
  .whomhelp .whomhelp__container .whomhelp__name {
    margin-top: 10px;
  }
}

.whomhelp .whomhelp__container .whomhelp__photo {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 55px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 500px) {
  .whomhelp .whomhelp__container .whomhelp__photo {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 490px) {
  .whomhelp .whomhelp__container .whomhelp__photo {
    width: 100%;
  }
}

@media (max-width: 641px) {
  .whomhelp .whomhelp__container .whomhelp__photo {
    margin-top: 10px;
  }
}

@media (max-width: 865px) {
  .whomhelp .whomhelp__container .whomhelp__photo {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.whomhelp .whomhelp__container .whomhelp__photo img {
  width: 190px;
  height: 190px;
  border-radius: 30px;
  margin-bottom: 30px;
}

@media (max-width: 500px) {
  .whomhelp .whomhelp__container .whomhelp__photo img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 430px) {
  .whomhelp .whomhelp__container .whomhelp__photo img {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
  }
}

@media (max-width: 365px) {
  .whomhelp .whomhelp__container .whomhelp__photo img {
    width: 100px;
    height: 100px;
    margin-bottom: -10px;
  }
}

.whomhelp .whomhelp__container .whomhelp__photo .whomhelp__photo-img {
  background-color: #ea1e63;
  width: 190px;
  height: 190px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 500px) {
  .whomhelp .whomhelp__container .whomhelp__photo .whomhelp__photo-img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 430px) {
  .whomhelp .whomhelp__container .whomhelp__photo .whomhelp__photo-img {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 365px) {
  .whomhelp .whomhelp__container .whomhelp__photo .whomhelp__photo-img {
    width: 100px;
    height: 100px;
  }
}

.whomhelp .whomhelp__container .whomhelp__photo .whomhelp__photo-img img {
  width: 90px;
  height: 90px;
}

@media (max-width: 430px) {
  .whomhelp .whomhelp__container .whomhelp__photo .whomhelp__photo-img img {
    width: 50px;
    height: 50px;
  }
}

.getintouch {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 165px;
  border: solid black 2px;
}

@media (max-width: 868px) {
  .getintouch {
    width: 100%;
  }
}

.getintouch img {
  width: 100%;
}

@media (max-width: 515px) {
  .getintouch {
    height: 250px;
  }
}

.getintouch .getintouch__container {
  position: absolute;
  width: 870px;
  height: 165px;
}

@media (max-width: 868px) {
  .getintouch .getintouch__container {
    width: 100%;
  }
}

.getintouch .getintouch__container .getintouch__name {
  text-align: center;
  color: blue;
  margin-top: 23px;
  font-weight: 200;
  font-size: 30px;
}

.getintouch .getintouch__container .getintouch__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 65px;
  padding-right: 65px;
  margin-top: 26px;
}

@media (max-width: 515px) {
  .getintouch .getintouch__container .getintouch__form {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.getintouch .getintouch__container .getintouch__form input {
  width: 275px;
  height: 30px;
  border-radius: 20px;
  padding-left: 15px;
  outline: none;
}

@media (max-width: 515px) {
  .getintouch .getintouch__container .getintouch__form input {
    margin-bottom: 10px;
  }
}

.getintouch .getintouch__container .getintouch__form button {
  width: 170px;
  height: 30px;
  border-radius: 20px;
  background-color: #ea1e63;
}

.getintouch .getintouch__container .getintouch__form button:hover {
  -webkit-box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
          box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.cases {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 525px;
  border: solid black 2px;
}

@media (max-width: 868px) {
  .cases {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .cases {
    height: 420px;
  }
}

@media (max-width: 450px) {
  .cases {
    height: 380px;
  }
}

.cases .cases__container {
  position: absolute;
  width: 870px;
  height: 525px;
}

@media (max-width: 868px) {
  .cases .cases__container {
    width: 100%;
  }
}

.cases .cases__container .cases__name {
  text-align: center;
  margin-top: 45px;
  font-weight: 200;
  font-size: 26px;
  color: blue;
}

@media (max-width: 500px) {
  .cases .cases__container .cases__name {
    margin-top: 10px;
  }
}

.cases .cases__container .cases__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px 0 50px;
  margin-top: 35px;
  font-weight: 300;
  font-size: 18px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 500px) {
  .cases .cases__container .cases__items {
    margin-top: 10px;
  }
}

.cases .cases__container .cases__items .cases__items-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 27px;
  border-bottom: solid blue 1px;
}

.cases .cases__container .cases__items .cases__items-block:hover {
  border-bottom: solid #ea1e63 1px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.cases .cases__container .cases__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 26px;
}

.cases .cases__container .cases__photo img {
  width: 560px;
  height: 290px;
}

@media (max-width: 575px) {
  .cases .cases__container .cases__photo img {
    height: 70%;
    width: 70%;
  }
}

.contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 365px;
  border: solid black 2px;
}

@media (max-width: 750px) {
  .contact {
    width: 100%;
    height: 450px;
  }
}

@media (max-width: 366px) {
  .contact {
    height: 470px;
  }
}

.contact img {
  width: 100%;
  height: 100%;
}

.contact .contact__container {
  position: absolute;
  width: 750px;
  height: 365px;
}

@media (max-width: 868px) {
  .contact .contact__container {
    width: 100%;
  }
}

.contact .contact__container .contact__name {
  color: white;
  text-align: center;
  margin-top: 25px;
  font-weight: 200;
  font-size: 30px;
}

.contact .contact__container .contact__text {
  margin-top: -10px;
  font-weight: 200;
  font-size: 13px;
  color: white;
  padding: 0 200px 0 200px;
  text-align: center;
}

@media (max-width: 709px) {
  .contact .contact__container .contact__text {
    padding: 0 100px 0 100px;
  }
}

@media (max-width: 500px) {
  .contact .contact__container .contact__text {
    padding: 0 50px 0 50px;
  }
}

.contact .contact__container .contact__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
  margin-top: 25px;
  padding: 0 20px 0 20px;
}

@media (max-width: 750px) {
  .contact .contact__container .contact__inputs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact .contact__container .contact__inputs .contact__param {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 750px) {
  .contact .contact__container .contact__inputs .contact__param {
    margin-top: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact .contact__container .contact__inputs .contact__param input {
  width: 415px;
  height: 30px;
  margin-top: 8px;
  border-radius: 20px;
  padding-left: 15px;
  font-weight: 200;
  outline: none;
}

@media (max-width: 430px) {
  .contact .contact__container .contact__inputs .contact__param input {
    width: 315px;
  }
}

.contact .contact__container .contact__inputs .contact__param button {
  margin-top: 15px;
  width: 170px;
  height: 30px;
  border-radius: 20px;
  color: white;
  background-color: #ea1e63;
  text-align: center;
}

@media (max-width: 430px) {
  .contact .contact__container .contact__inputs .contact__param button {
    width: 140px;
  }
}

.contact .contact__container .contact__inputs .contact__param button:hover {
  -webkit-box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
          box-shadow: 0 0 5px 5px rgba(61, 99, 143, 0.637);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.contact .contact__container .contact__info textarea {
  width: 265px;
  height: 105px;
  margin-top: 8px;
  border-radius: 20px;
  padding: 15px 15px 15px 15px;
  font-weight: 200;
  outline: none;
  resize: none;
}

@media (max-width: 750px) {
  .contact .contact__container .contact__info textarea {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #4052b1;
  border: solid black 2px;
}

@media (max-width: 868px) {
  .footer {
    width: 100%;
  }
}

.footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 870px;
  height: 60px;
  padding: 0 12px 0 12px;
}

@media (max-width: 868px) {
  .footer .footer__container {
    width: 100%;
  }
}

.footer .footer__container .footer__logo img {
  width: 40px;
  height: 40px;
}

@media (max-width: 480px) {
  .footer .footer__container .footer__logo img {
    width: 30px;
    height: 30px;
  }
}

.footer .footer__container .footer__logo a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 200;
}

@media (max-width: 480px) {
  .footer .footer__container .footer__logo a {
    font-size: 12px;
  }
}

.footer .footer__container .footer__info i {
  color: white;
  padding-left: 20px;
}

@media (max-width: 480px) {
  .footer .footer__container .footer__info i {
    font-size: 8px;
    padding-left: 10px;
  }
}

@media (max-width: 375px) {
  .footer .footer__container .footer__info i {
    font-size: 6px;
    padding-left: 8px;
  }
}

.footer .footer__container .footer__info a {
  font-size: 12px;
  font-weight: 200;
  padding-left: 5px;
  color: white;
  text-decoration: none;
}

@media (max-width: 480px) {
  .footer .footer__container .footer__info a {
    font-size: 8px;
  }
}

@media (max-width: 375px) {
  .footer .footer__container .footer__info a {
    font-size: 6px;
  }
}

/* фото до и после */
.twentytwenty-overlay {
  border-radius: 40px;
}

/*Обнуление*/
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
}

/* Слайдер */
.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider {
  position: relative;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -85px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/left.png") 0 0/100% no-repeat;
}

@media (max-width: 1080px) {
  .slider .slick-arrow.slick-prev {
    display: none;
    background: none;
  }
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/rigth.png") 0 0/100% no-repeat;
}

@media (max-width: 1080px) {
  .slider .slick-arrow.slick-next {
    display: none;
    background: none;
  }
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #fff;
}

.slider__item {
  padding: 0px 15px;
}

.slider__item img {
  max-width: 100%;
}
/*# sourceMappingURL=main.css.map */